/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* FIN RESET */

p{
	line-height: 1.5;
}
@font-face {
  font-family: 'Glyphs';
  src: url("../../font/fonts/fontawesome-webfont.eot");
  src: url("../../font/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
  	   url("../../font/fonts/fontawesome-webfont.woff2") format("woff2"),
       url("../../font/fonts/fontawesome-webfont.woff") format("woff"), 
       url("../../font/fonts/fontafontawesome-webfont.ttf") format("truetype"),
       url("../../font/fonts/fontawesome-webfont.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }


.main{
	background: url('img/ni3.jpg') no-repeat center fixed;
	/*background-image:linear-gradient(dimgrey, black);*/
	background-size: 100% 100%;
	background-color: black;
	font-family: "Dosis", sans-serif;
}
 .mainPropos{
 	
 	/*background: url('img/fond.jpeg') no-repeat center fixed;*/
 	/*background-image:linear-gradient(dimgrey, black);
	background-size:  95rem 46.5rem;
	background-position: 0rem 0rem;/*
	height: 47rem;	*/
	font-family: "Dosis", sans-serif;
	/* DEBUT FON DEGRADE */
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7b4ac9+14,5ddcfc+100,f4f9f7+100 */
	background: #7b4ac9; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #7b4ac9 14%, #5ddcfc 100%, #f4f9f7 100%) no-repeat center fixed ; /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #7b4ac9 14%,#5ddcfc 100%,#f4f9f7 100%) no-repeat center fixed; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #7b4ac9 14%,#5ddcfc 100%,#f4f9f7 100%) no-repeat center fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b4ac9', endColorstr='#f4f9f7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-size: 100% 118%;
	/*FIN FONDS*/

	
 }


 @-moz-keyframes rotat{
  	100%{ -moz-transform:rotate(720deg); }
  }
  @-webkit-keyframes rotat{
  	100%{ -webkit-transform:rotate(720deg); }

  }
   @keyframes rotat{
  	100%{ transform:rotate(720deg);}
  }

.main__img{
	left: 36.3%;
	top: 9rem;
	position: absolute;
	width: 28em;	
	/*min-width: 29rem;*/
	z-index: 1;
  	animation: rotat 4s  ease;
		-webkit-animation: rotat 4s  ease;
		-moz-animation: rotat 4s  ease;	
}


@-webkit-keyframes warn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes warn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes warn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes warn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.perso{
	/*border-radius: 5px;*/
	position: relative;
	top: 20rem;
	left: 37.5%;
	z-index: 80;
	width: 26.2rem; 
	line-height: 1.2em;
	text-align: center;
	padding: 0.5rem;
	background-color: #00CDFF;
	font-size: 2.7em;
	-webkit-animation: warn 3s ease; /* Safari 4+ */
  -moz-animation:    warn 3s ease; /* Fx 5+ */
  -o-animation:      warn 3s ease; /* Opera 12+ */
  animation:         warn 3s ease; /* IE 10+, Fx 29+ */
	
	
}
.perso::hover, .projets::hover{
	
}
.perso a, .projets a{
	color: #002E4E;
}
 
.main__img:hover{
  animation: rotat 4s  ease;
	-webkit-animation: rotat 4s  ease;
	-moz-animation: rotat 4s  ease;
}
.propos{
	position: relative;
	top: 22rem;
	animation: 900ms ease-out 0s normal forwards 1 running fromleft;
	left: 1%;
	width: 21%;
	/*min-width: 17%;*/
	padding: 1rem;
	font-size: 1.2rem;
	background-color: #00CDFF ;
}
.propos__text{
	color: #002E5D;
	padding: 0.5em;
	text-align: center;
}
.propos__heading{
	color: #002E5D;
	padding: 0.5em;
	text-decoration: underline;
	text-align: center;
}
@keyframes fromleft {
0% {
    opacity: 0;

}
100% {
    opacity: 1;
    left: 8%;
}
}

.projets__link{
	text-decoration: none;
	color: #3D3D3C;
	text-align: center;
}

.projets__heading{
	background-color: #00CDFF;
	padding: 1rem;
	text-decoration: underline;
}
.infos__heading{
	padding: 2em;
	color: #73E0FB;
	font-size: 1.8em;
	width: 90%;
}
.infos{
	width: 28%;
	min-width: 36%;
	margin-right: 19.5%;
	float: right;
	margin-top: -30%;
	animation: 900ms ease-out 0s normal forwards 1 running fromleft;
}

.photo{
	margin-left: 8%;
}
.photo__img{
	width: 30%;
	margin-top: -1em;
}
.description{
	width: 31%;
	float: right;
	margin-right: 23.5%;
	margin-top: -11em;
	animation: 900ms ease-out 0s normal forwards 1 running fromright;
}
.contact{
	width: 27%;
	margin-left: 11%;
	margin-top: -1em;
	animation: 900ms ease-out 0s normal forwards 1 running fromleft;
	
}
.contact__elt{
	padding: 0.3em 0;
	width: 173%;
}
.bloclink	{
	width: 13e%;
	padding: 1em;
	float: right;
	background-color: #F9C043;	

	box-shadow: 1px 1px 3px cornflowerblue;	
	border-radius: 32px;
	text-align: center;
	margin-right: 6%;
	animation: 900ms ease-out 0s normal forwards 1 running fromright;
}

.projets{
	font-size: 1.2em;
	width: 11%;
	position: absolute;
	right: 0%;
	top: 10em;
	animation: 900ms ease-out 0s normal forwards 1 running fromright;
}
@keyframes fromright {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
    right: 13%;
}
}



.cible__img{
	z-index: 9;
	top: 6em;
	left: 8%;
	min-width: 20em;
	position: absolute;

		width: 24%;
		
	}
		
	/*-webkit-transform:rotate(90deg); 
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg); 
  -ms-transform:rotate(90deg); 
  transform:rotate(90deg);*/
 
.mainPropos__link:before {
  font-size: 1.5em;
  content: "  ";
  margin-left: 2%;

  color: gray;
  }
  .mainPropos__link{
  	 color: gray;
  	 text-decoration: none;
  	 
  }
  .logolink{
  	height: 2em;
  	 width: 9em;
  	 background-size: 9em 2em;
  	 margin-top: 3em;
  	 margin-left: 2em;
  	 background-position: 1em 2em;
  	 background-image: url('img/sousliens.gif');
  }
  .ariane{
		margin-left: 55%;
		color: #00DFF6;
		text-decoration: none;
}

.cible__imgLittle{
	width: 26%;
	z-index: 9;
	top: 4em;
	left: 7%;
	position: absolute;
}
.photo{
	
	z-index: 5;
}

/*tools*/
.hidden {
    display: none;

}

.mainProjets{
	background: #7b4ac9; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #7b4ac9 14%, #5ddcfc 100%, #f4f9f7 100%) no-repeat center fixed; /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #7b4ac9 14%,#5ddcfc 100%,#f4f9f7 100%) no-repeat center fixed; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #7b4ac9 14%,#5ddcfc 100%,#f4f9f7 100%) no-repeat center fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b4ac9', endColorstr='#f4f9f7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-size: 100% 118%;
	font-family: "Dosis", sans-serif; 
}
.mainProjets a{
	text-decoration: none;
}

.pprojets{
	width: 10%;
	background-color: rgba(12, 209, 242, 0.7);
	box-shadow: 1px 1px 4px rgba(12, 209, 242, 0.9);
	margin-left: 3%;
	margin-top: 1em;
	opacity: 0.9;
}
.pprojets a{
	color: black;
}
.pprojet{
	text-align: center;
	padding: 1em;
}
.mainProjet__title{
	cursor: pointer;
}
.pprojet::hover{

}
.pprojets__title{
		font-size: 0.9em;
		color: white;
		margin-left: 3.2%;
		margin-top: 6em;
}
.projet1:checked ~ {
	
}/*
	&__boutton:checked ~ ul{
  	transform: translateY(-300%) translateZ(0);
  	margin-left: -5em;
  		.nav__dropdown:checked{
  			right: -3em;
		}*/
.mainProjet{
	width: 49%;
	/*background-color: rgba(12, 209, 242, 0.7);*/
	margin: 1em;
	position: absolute;
	top: 6em;
	left: 28%;	
	color: #fff;
}

/* TEST EMPLACEMENT JS */


#aff:target{
	display: block;
}
#aff{
	display: none;
}


.form{
	position: absolute;
	right: 25%;
	top: 25em; 
}
.field{
	padding: 1em 0;

}
#message{
	margin-right: -8%;
}
#nom{
	margin-right: 13%;
}
#prenom{
	margin-right: 6%;
}
#email{
	margin-right: 12%;
}
button{
	margin-left: 47%;
	padding-bottom: 0.4em;
	margin-bottom: 3em;
	margin-top: 1em;
	background-color: transparent;
	border: none;
	font-size: 1em;
	border-bottom: 2px solid rgba(249, 192, 67, 0.9);
}
input{
	border-bottom: 2px solid rgba(249, 192, 67, 0.9);
	border-top: none;
	border-right: none;
	border-left: none;
	background-color: transparent;
	
}
.mainProjet__title{
	font-size: 1.2em;
	padding: 1%;
	margin-left: 0.5%;

}
.mainProjet__title2{
	font-size: 1.8em;
	margin-left: 2%;
	color: white;
	padding-bottom: 1em;
}
.mainProjet__description{
	padding: 2% 0;
	margin-left: 1.5%;
	width: 67%;
}
.mainProjet__cours{
	margin-left: 1.5%; 
}
.mainProjet__link{
	margin-left: 20%;
	margin-bottom: 2em;
	padding: 1em;

}
.mainProjet__img{
	margin-left: -4em;
	margin-top: 3em;
	margin-bottom: 2.5%;
	width: 100%;
}

.projetlinkpropos{
	width: 16%;
	margin-top: 6em;
	margin-right: 2%;
	
}
.propos__link{
	color: black;
	text-decoration: none;
}
/* AJOUTER IMG ENTRE COLONNE PROJET ET LA FICHE DU PROJET
*/
/* ICONS */

 .gsm::before {
 	color: white;
    content: " ";
    font-size: 2em;
    padding-right: 3%;
}

 .facebook::before {
 	color: white;
    content: " ";
    font-size: 2em;
    padding-right: 3%;
}


 .git::before {
 	color: white;
    content: "";
    font-size: 2em;
    padding-right: 3%;
}


 .gmail::before {
 	color: white;
    content: " ";
    font-size: 2em;
    padding-right: 3%;
}
.git:hover::before, .facebook:hover::before{
	color: #F9C043;
}

.contact__text a {
	text-decoration: none;
	color: black;
}
/* TEST EMPLACEMENT JS */


#aff:target{
	display: block;
}
#aff{
	display: none;
}

#aff1:target{
	display: block;
}
#aff1{
	display: none;
}

#aff2:target{
	display: block;
}
#aff2{
	display: none;
}
#aff3:target{
	display: block;
}
#aff3{
	display: none;
}
#aff4:target{
	display: block;
}
#aff4{
	display: none;
}
#aff5:target{
	display: block;
}
#aff5{
	display: none;
}
#aff6:target{
	display: block;
}
#aff6{
	display: none;
}
#aff7:target{
	display: block;
}
#aff7{
	display: none;
}
/*

@media screen and (max-width: 1240px){

		.perso{
			background-color: red;

		}
		
		.projets{
			left: 57em;
			width: 15%;
		}

}*/

@media screen  and (max-width: 830px){
		p{
			color: green;
		}
		
		.perso{
			top: 14rem;
			left: 18.2%;


		}
		.propos{
			min-width: 40%;
			position: none;
			top: 25rem;
		}
		.main__img{
			top: 2rem;
			left: 15%;

			
		}
		.projets{
			left: 73%;
			top:  36rem;
			width: 20%;

		}  /* PAGE PROPOS */
		.photo__img{
		width: 40%;
		margin-top: -1em;
		margin-left:13%
		}
		.photo{
			width:140%;
		}
		.form{
			position: unset;
			right: 20%;
			margin-left: 14%;
			margin-top: 10em;
		}
		button{
			margin-left: 15%;
			margin-bottom: 3em;
		}
		.infos{
			float: unset;
			margin-top: -9%;
			width: 56%;
			margin-left: 24%;
			text-align: center;
		}
		.contact{
			float: right;
			width: 40%;
			margin-top: -18.5em;

		}
		.bloclink{
		padding: 0.7em;
		margin-right: 37%;
		margin-top: -27em;
		}
		#nom{
			margin-right: 10%;
		}
		#email{
			margin-right: 9%;
		}
		.contact__elt{
			display: inline-block;
		}
		.infos__heading{
			padding: 1.3em;
		}
		/* PAGE PROJETS */
		.pprojets{
		width: 100%;
		margin-left: 0;
		}
		.pprojet{
			display: inline-block;
			width: 11%;
			padding: 0.7em 0;
			margin-left: 15%;
			padding-bottom: 0.5em;
		}
		.mainProjet__title{
			font-size: 1em;
		}
		.mainProjet__title2{
		margin-left: -38%
		}
		.mainProjet__description{
			margin-left: -39.5%;
			width: 130%;
		}
		.mainProjet__cours{
			margin-left: -5em;
		}
		.mainProjet{
			top: 20em;
		}
		.projetlinkpropos{
			margin-top: -15em;
			margin-right: 5%;
			width: 23%;
		}
		.mainProjet__img{
			margin-left: -8em;
			width: 162%;
		}
@media  screen and (max-width: 550px){
	p{
			color: blue;
		}

	.main__img{
		left: 22%;
		width: 57%;
	}
	.perso{
		left: 19.2%;
		width: 59%;
		top: 5.5em;

		padding: 0.5em;
		font-size: 1.6em;
	}
	.propos{
		-webkit-animation: none;
		-o-animation: none;
		animation: none;
		background-color: rgba(128, 128, 128, 0.8);
		padding-top: 2em;
		padding-bottom: 2em;
		top: 20em;
		width: 100%;
		font-size: 1.5rem;
	}
	.propos__text{
		line-height: 1.6em;
	}
	.projets{
		-webkit-animation: none;
		-o-animation: none;
		animation: none;
		position: unset;
		margin-top: 18%;
		width: 100%;
		height: 20em;
				font-size: 1.5rem;
	}
	.projets__heading{
		background-color: rgba(128, 128, 128, 0.8);
		color: white;
		padding-top: 2em;
		padding-bottom: 2em;
	}

	
	.contact{
		margin-top: 0em;
		margin-right: 34%;
	}
	.form{
		margin-left: 27%;
	}
	.bloclink{
		margin-left: 24%;

		margin-top: -37em;

	}
		.projetlinkpropos{
			margin-top: -17em;
			margin-right: 5%;
			width: 30%;
			color: black;
		}
	/* PROJETS */
	.mainProjet__img{
		margin-left: -5em;
	}


.propos__text{
	color:  white;
}
.propos__heading{
	color: white;
	
}

}

